<link rel="stylesheet" href="/tournamenter-obr/components/font-awesome/font-awesome.css">

<style type="text/css">
  .no-decoration:hover {
    text-decoration: none !important;
  }
</style>

<% if (newestVersion) { %>
<div class="col-md-8 col-md-offset-2" style="padding-top: 20px;">
  <div class="col-md-12">
    <div class="alert alert-danger">
      <strong>O plugin da OBR possui uma atualização.</strong>
      Atualize o quanto antes para a versão <span class="label label-warning"><%= newestVersion %></span>
    </div>
  </div>
</div>
<% } %>

<div class="col-md-8 col-md-offset-2" style="padding-top: 20px;">
  <div class="col-md-12">
    <div class="alert alert-warning">
      <strong>Bem vindo ao Tournamenter!</strong> O que deseja?
    </div>
  </div>
</div>

<div class="col-md-8 col-md-offset-2">

  <div class="col-md-12 col-sm-12">
    <a href="/tournamenter-obr" target="_blank" class="no-decoration">
      <div class="jumbotron">
        <h1 class="text-center"><i class="fa fa-flag-checkered" aria-hidden="true"></i></h1>
        <br/>
        <p class="text-center">
          Pontuar Round
        </p>
      </div>
    </a>
  </div>

  <div class="col-md-6 col-sm-6">
    <a href="/obr-desafio" target="_blank" class="no-decoration">
      <div class="jumbotron">
        <h1 class="text-center"><i class="fa fa-question" aria-hidden="true"></i></h1>
        <br/>
        <p class="text-center">
          Desafio Surpresa
        </p>
      </div>
    </a>
  </div>

</div>

<div class="col-md-8 col-md-offset-2">
  <div class="col-md-12 col-sm-12">
    <!-- <div class="alert alert-info">
      <div class="pull-right">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </div>
      <a href="/ManualOBRTournamenter.pdf" target="_blank">
        Manual do Tournamenter
        <small>(Para Juizes)</small>
      </a>
    </div> -->

    <div class="alert alert-info">
      <div class="pull-right">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
      </div>
      <a href="/ManualOBRTournamenter.pdf" target="_blank">
        Manual do Tournamenter Completo
        <small>(Para Organização)</small>
      </a>
    </div>
  </div>
</div>