<link rel="stylesheet" href="/tournamenter-obr/components/font-awesome/font-awesome.css">
<link rel="stylesheet" href="/tournamenter-obr/components/bootstrap/bootstrap.css">
<link rel="stylesheet" href="/tournamenter-obr/styles/site.css">

<style type="text/css">
.ended{
  background-color: rgba(255,20,20,0.7);
  background-image: none;
}
.hide {
  display: none;
}
</style>

<div data-ng-app="app" id="app-root" data-ng-controller="AppCtrl">

  <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

      <div class="pull-left">
        <img src="obr.png" style="height: 32px; margin: 8px;">
      </div>
      <div class="navbar-text pull-left">
        Importar/Exportar dados do Sistema Olimpo
      </div>

    </div>
  </nav>
 -->
  <div class="container hide" ng-class="{hide: !loaded}">

    <!-- Importar equipes -->
    <div class="col-md-6" style="margin-top: 42px" ng-controller="ImportarCtrl">
      <h2>Importar Equipes</h2>
      <hr/>
      <p>
        <small style="color: rgba(0,0,0,0.6);">
          Importe todas as equipes do seu regional específico para o Tournamenter.
        </small>
      <p>

      <div class="alert alert-danger ng-cloak" ng-show="error" role="alert">{{error}}</div>
      <div class="alert alert-success ng-cloak" ng-show="success" role="alert">{{success}}</div>

      <label>
        Token do Evento para importar equipes:
      </label>
      <div class="form-group row">
        <div class="col-md-6 col-lg-12">
          <input class="form-control" type="text" ng-model="importEventToken">
        </div>

        <div class="col-md-6" style="margin-top: 8px;">
          <span
            ng-show="teamsToImport.$resolved && teamsToImport.length" 
            class="label label-success"
            style="font-size: 16px;">
              {{teamsToImport.length}} Equipes
          </span>
          <span
            ng-show="teamsToImport.$resolved && !teamsToImport.teams.length" 
            class="label label-danger"
            style="font-size: 16px;">
              Falha ao Carregar
          </span>
          <span
            ng-show="teamsToImport && !teamsToImport.$resolved" 
            class="label label-warning"
            style="font-size: 16px;">
              Carregando...
          </span>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="checkbox">
          <label>
            <input
              ng-model="allowDelete"
              type="checkbox"> Remover equipes inexistentes no Sistema Olimpo
          </label>
        </div>
      </div> -->

      <div class="form-group">
        <button 
          type="button"
          ng-click="diffTeams()"
          ng-disabled="!importEventToken || !teamsToImport || executing"
          class="btn btn-primary btn-sm btn-block">
            Verificar Diferenças (passo 1)
        </button>
      </div>

      <div class="panel panel-default" ng-show="actions.length">
        
        <div class="panel-heading">
          <h3 class="panel-title">
            Alterações a serem feitas
            <button 
              type="button"
              style="margin-top: -3px;"
              class="pull-right btn btn-success btn-xs"
              ng-disabled="executing || !canCommit"
              ng-click="executeCommits()">
                Executar (passo 2)
            </button>
          </h3>
        </div>

        <div class="progress" ng-show="executing">
          <div
            class="progress-bar" 
            role="progressbar"
            aria-valuemin="0"
            aria-valuemax="100"
            ng-style="{width: progress + '%'}">
            {{progress}}%
          </div>
        </div>

        <div class="panel-body">
          <ul>
            <li ng-repeat="(action, value) in actionsStats">
              {{action}}: {{value}}x
            </li>
          </ul>
          <div class="panel panel-default" style="max-height: 200px; overflow-y: scroll;">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="action in actions" style="padding: 4px 10px;">
                <span class="glyphicon" ng-class="{'glyphicon-remove-sign': action.action == 'remove', 'glyphicon-plus-sign': action.action == 'create', 'glyphicon-exclamation-sign': action.action == 'update'}"></span> 
                {{action.msg}}
                <div class="pull-right">
                  <span
                    ng-if="action.status == 'success'"
                    class="text-success glyphicon glyphicon-ok">
                  </span>
                  <span
                    ng-if="action.status == 'error'"
                    class="text-success glyphicon glyphicon-remove">
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <!-- Syncronização -->
    <div class="col-md-6" ng-controller="ExportarCtrl">
      <h2>
        Envio de notas 
      </h2>
      <hr/>
      <p>
        <small style="color: rgba(0,0,0,0.6);">
          Configure para habilitar o envio das pontuações automaticamente durante o torneio.
        </small>
      <p>

      <div class="alert alert-info" role="alert">
        Última sincronização: <b>{{lastSync}}</b>
        <div class="pull-right">
          <span class="label label-warning" ng-show="!needsSave && syncConfig.sync === false">
            Desabilitado
          </span>
          <span class="label label-success" ng-show="!needsSave && syncConfig.sync === true">
            Habilitado ({{syncConfig.interval}}s)
          </span>
          <span class="label label-danger" ng-show="needsSave">
            Salve as Configurações
          </span>
        </div>
      </div>
      <div class="alert alert-danger ng-cloak" ng-show="error" role="alert">{{error}}</div>
      <div class="alert alert-success ng-cloak" ng-show="success" role="alert">{{success}}</div>

      <div class="col-md-12">
        <div class="form-group row">
          <div class="input-group">
            <span class="input-group-addon" style="width: 5%;">
              <input
                ng-model="syncConfig.sync"
                type="checkbox">
            </span>
            <span class="input-group-addon" style="width: 95%;">
              Habilitar/Desabilitar sincronização automática
            </span>
            <span class="input-group-btn">
              <button
                type="button"
                ng-click="save()"
                ng-disabled="!needsSave"
                ng-class="{'btn-success': needsSave, 'btn-default': !needsSave}"
                class="btn">
                Salvar
              </button>
            </span>
          </div>
        </div>

        <!-- <div class="form-group row" ng-show="syncConfig.sync">
          <label>
            URL de envio (Somente a organização nacional da OBR pode fornece-la)
          </label>
          <input
            type="text"
            class="form-control"
            ng-model="syncConfig.url"
            placeholder="URL de envio"/>
        </div> -->

        <!-- <div class="form-group row" ng-show="syncConfig.sync">
          <label>
            Método HTTP de submissão (padrão: PUT)
          </label>
          <select 
            class="form-control"
            ng-model="syncConfig.method">
            <option value="PUT">PUT</option>
            <option value="POST">POST</option>
          </select>
        </div> -->

        <div class="form-group row" ng-show="syncConfig.sync">
          <label>
            Intervalo de sincronização (em segundos)
          </label>
          <input
            type="number"
            class="form-control"
            ng-model="syncConfig.interval"
            min="60"
            max="1800"
            placeholder="60"/>
        </div>

        <!-- <div class="form-group row">
          <button 
            type="button"
            ng-click="save()"
            ng-disabled="!needsSave"
            class="btn btn-success btn-sm btn-block">
              Salvar configurações
          </button>
        </div> -->

        <div class="form-group row">
          <button 
            type="button"
            ng-click="sync()"
            ng-disabled="needsSave"
            class="btn btn-warning btn-sm btn-block">
              Enviar dados (agora)
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- build:js scripts/vendor.js -->
  <script src="/tournamenter-obr/components/async/async.js"></script>
  <script src="/tournamenter-obr/components/underscore/underscore.js"></script>
  <script src="/tournamenter-obr/components/moment/moment.js"></script>
  <script src="/tournamenter-obr/components/moment/pt-br.js"></script>
  <script src="/tournamenter-obr/components/jquery/jquery.js"></script>
  <script src="/tournamenter-obr/components/angular/angular.js"></script>
  <script src="/tournamenter-obr/components/angular-route/angular-route.js"></script>
  <script src="/tournamenter-obr/components/angular-animate/angular-animate.js"></script>
  <script src="/tournamenter-obr/components/angular-resource/angular-resource.js"></script>
  <script src="/tournamenter-obr/components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="/tournamenter-obr/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/site-ui.js -->
  <!-- endbuild -->

  <!-- build:js({.tmp,client}) scripts/participar.js -->
  <script src="/tournamenter-obr/scripts_api/api.js"></script>
  <script src="/tournamenter-obr/scripts_config/app.js"></script>
  <script src="/tournamenter-obr/scripts_config/importar.js"></script>
  <script src="/tournamenter-obr/scripts_config/exportar.js"></script>
  <!-- endbuild -->
</div>
<!-- </html> -->
